/* @import url("https://use.typekit.net/wuo5zfn.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


:root {
  --black: #3c3c3c;
  --white: #f5f5f5;
  --gray: ;
  --primary-color: rgba(227, 187, 66, 1); /* #e3bb42 */
  --primary-active-color: rgba(246, 205, 79, 1); /* #F6CD4F */
  --primary-disabled-color: rgba(231, 225, 208, 1); /* #E7E1D0 */
  --secondary-color: rgba(180, 67, 50, 1); /* #b44332 */
  --secondary-active-color: rgba(208, 88, 69, 1) ; /* #D05845 */
  --secondary-disabled-color: rgba(227, 206, 203, 1) ; /* #E3CECB */
  --tertiary-color: ;
  --tertiary-active-color: ;
  --tertiary-disabled-color: ;
  --font-size-main: 8rem;
  --font-size-main-m: 3.2rem;
  --font-size-title: 6rem;
  --font-size-title-m: 3rem;
  --font-size-subtitle: 3.2rem;
  --font-size-subtitle-m: 2rem;
  --font-size-content: 1.8rem;
  --font-size-content-m: 1.4rem;
  --font-size-small: 1.4rem;
  --font-size-small-m: 1.2rem;
}

*,
html,
body {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  text-align: left;
  color: var(--black);
  font-family: 'Poppins', 'Pretendard', 'Noto Sans KR', sans-serif;
  /* font-family: "Noto Serif KR", serif; */
  font-weight: 300;
  font-style: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.5px;
}
body {
  position: relative;
  background-image: url(https://kansong-image-collection.s3.ap-northeast-2.amazonaws.com/img/bg-wh.jpg);
  font-size: var(--font-size-content);
}
a {
  text-decoration: none;
  display: block;
  color: var(--black);
  transition: all 0.3s;
}
button {
  padding: 0.8rem 2rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background: var(--secondary-color);
  font-family: 'Poppins', sans-serif;
  /* font-family: "Noto Serif KR", serif; */
  font-size: var(--font-size-content);
  font-weight: 300;
  color: var(--white);
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
button:active,
button:hover {
  background: var(--secondary-active-color);
  box-shadow: 0px 0px 8px rgba(180, 67, 50, 0.7);
}
button:active,
a,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button:disabled,
button[disabled] {
  background-color: var(--secondary-disabled-color);
  color: var(--secondary-active-color);
  box-shadow: none;
}
.fixed button,
button.small {
  font-size: var(--font-size-small);
}
button.secondary {
  padding: 0.4rem 1.6rem;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
  box-sizing: border-box;
  background: none;
  font-size: var(--font-size-content);
  font-weight: 400;
  color: var(--secondary-color);
}
button.secondary:active,
button.secondary:hover {
  color:var(--white);
  background: var(--secondary-active-color);
  box-shadow: 0px 0px 8px rgba(180, 67, 50, 0.7);
}
svg{
  transition: all 0.3s;
}


input:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
div,
section,
header {
  box-sizing: border-box;
}
img {
  width: 100%;
}
section {
  float: left;
  width: 100%;
  position: relative;
}
.Container {
  width: 100%;
  /* max-width: 900px; */
  margin: 0 auto;
  padding: 16rem 0;
  z-index: 10;
  position: relative;
}
.imgarea {
  margin-top: 48px;
}
.inline {
  display: inline-block;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.zoomin {
  animation: zoomin 0.3s;
}
@keyframes zoomin {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.line {
  width: 100%;
  height: 1px;
  background: var(--black);
  grid-column: 3 / 11;
  margin-top: 48px;
}
.margin-r-6 {
  margin-right: 6px;
}
.margin-b-4 {
  margin-bottom: 4px;
}
h1 {
  /* font-family: kepler-std-display, serif; */
  font-size: var(--font-size-main);
  line-height: 1;
  text-align: left;
  text-transform:uppercase ;
}

h2 {
  /* font-family: kepler-std-display, serif; */
  font-size: var(--font-size-title);
  margin-bottom: 40px;
  line-height: 1.2;
  font-weight: 700;
}
h3 {
  font-size: var(--font-size-subtitle);
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 8px;
}
.subtitle {
  /* font-family: kepler-std-display, serif; */
  font-size: var(--font-size-subtitle);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.caption {
  font-size: var(--font-size-small);
}

/* header */
header {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  z-index: 110;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header #header_logo {
  float: left;
}
header a#logo {
  float: left;
  width: 440px;
  height: 60px;
  overflow: hidden;
  font-size: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
header a#logo > img {
  position: relative;
  left: 0;
  top: 0;
  width:auto;
  height: 120px;
  transition: all 0.3s;
}
header a#logo .line-ver{
  width:1px;
  height:100%;
  background: var(--white);
}
header.on a#logo img {
  top: -60px;
}
header.on a#logo .line-ver{
  background: var(--black);
}

header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  animation: dropHeader 0.3s;
  padding: 20px;
}
@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}
header.fixed a#logo {
  width: 300px;
  height: 40px;
}
header.fixed a#logo img {
  height: 80px;
}
header.fixed.on a#logo img {
  top: -40px;
}



header .header-right-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
header .header-right-btn a{
  font-size: 0;
}
header .header-right-btn svg {
  fill: var(--white);
  width: 36px;
  height: auto;
}
header .header-right-btn a:hover svg {
  fill: var(--primary-active-color);
  filter: drop-shadow(0px 0px 2px rgba(227, 187, 66, 0.7));
}
header.fixed .header-right-btn svg {
  width: 28px;
}
header.on .header-right-btn svg {
  fill: var(--black);
  opacity: 0.9;
}
header.on .header-right-btn a:hover svg {
  fill: var(--secondary-active-color);
  filter: drop-shadow(0px 0px 2px rgba(180, 67, 50, 0.7));
}

header #btn-mintingInfo a{
  text-align: center;
  padding:0.8rem 1.6rem;
  background: var(--white);
  border-radius: 4px;
  font-size:var(--font-size-small);
  font-weight: 500;
}
header.fixed #btn-mintingInfo a{
  padding:0.6rem 1.4rem;
}
header.fixed.on #btn-mintingInfo a{
  background: var(--black);
  color:var(--white);
}
header #btn-mintingInfo a:hover{
  background: var(--primary-active-color);
  filter: drop-shadow(0px 0px 4px rgba(227, 187, 66, 0.7));
}
header.fixed.on #btn-mintingInfo a:hover{
  background: var(--secondary-active-color);
  filter: drop-shadow(0px 0px 2px rgba(180, 67, 50, 0.7));
}




/* sidebar 외부링크 */
aside {
  position: fixed;
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
  z-index: 200;
  animation: aside 0.7s;
}
@keyframes aside {
  0% {
    right: -5rem;
  }
  100% {
    right: 0;
  }
}
aside ul {
  background: rgba(245, 245, 245, 0.35);
  /* background: rgba(0,0,0, 0.35); */
  padding: 4px 0;
}
aside a {
  padding: 6px 8px;
  width: 45px;
  transition: all 0.5s;
  font-size: 10px;
}
aside input[id="icon-btn"] {
  display: none;
}
aside svg {
  width: 45px;
  height: 45px;
  fill: var(--white);
  transition: all 0.6s;
}
aside a:hover svg {
  fill: var(--primary-color);
}

/* on */
aside.on ul {
  background: rgba(0, 0, 0, 0.35);
  padding: 4px 0;
}
aside.on a:hover svg {
  fill: var(--secondary-color);
}




/* 모바일 */
@media screen and (max-width: 900px) {
  body {
    font-size: var(--font-size-content-m);
  }
  section {
    overflow-x: hidden;
    min-height: 70vh;
  }
  .line {
    grid-column: 1 / 7;
    margin-top: 28px;
  }
  h1 {
    font-size: var(--font-size-main-m);
  }
  h2 {
    font-size: var(--font-size-title-m);
    margin-bottom: 20px;
  }
  h3 {
    font-size: var(--font-size-subtitle-m);
    margin-bottom: 8px;
  }
  .subtitle {
    font-size: var(--font-size-subtitle-m);
    font-weight: 400;
    margin-bottom: 4px;
  }
  .caption {
    font-size: var(--font-size-small-m);
  }

  .Container {
    min-width: 320px;
    padding: 8rem 0;
  }
  .imgarea {
    margin-top: 2rem;
  }

  header {
    height: auto;
    padding:15px;
  }

  header a#logo {
    width: 170px;
    height: 23px;
  }
  header a#logo > img {
    height: 46px;
  }
  header.on a#logo img{
    top: -23px;
  }

  header.fixed {
    padding: 8px 15px;
  }
  header.fixed a#logo {
    width: 150px;
    height: 20px;
  }
  header.fixed a#logo img {
    height: 40px;
  }
  header.fixed.on a#logo img{
    top: -20px;
  }

  header .header-right-btn{
    column-gap: 0.6rem;
  }
  header .header-right-btn a{
    /* color:var(--white); */
  }
  header .header-right-btn svg {
    width: 24px;
  }
  header.fixed .header-right-btn svg {
    width: 24px;

  }
  header #btn-mintingInfo a{
    padding:0.2rem 0.4rem;
    font-size:var(--font-size-small-m);
  }
  header.fixed #btn-mintingInfo a{
    padding:0.2rem 0.4rem;
  }




  button {
    padding: 0.4rem 0.8rem;
    font-size: var(--font-size-small-m);
  }


  .navbarTogglerWrap {
    float: right;
  }
  #navbarToggler {
    background: none;
    width: 20px;
    height: 16px;
    position: relative;
  }
  #navbarToggler:active,
  #navbarToggler:hover {
    background: none;
    box-shadow: none;
  }
  button#navbarToggler span {
    display: block;
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    border-radius: 30px;
    background: var(--white);
    transition: all 0.35s;
  }
  button#navbarToggler.on span {
    background: var(--black);
  }
  button.navbarTogglerActive span {
    background: var(--white) !important;
  }

  button#navbarToggler span:nth-child(1) {
    top: 0;
  }
  button#navbarToggler span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  button#navbarToggler span:nth-child(3) {
    bottom: 0;
  }
  button.navbarTogglerActive span:nth-child(1) {
    top: 50% !important;
    transform: translateY(-50%) rotate(45deg);
  }
  button.navbarTogglerActive span:nth-child(2) {
    opacity: 0;
  }
  button.navbarTogglerActive span:nth-child(3) {
    bottom: 50% !important;
    transform: translateY(50%) rotate(-45deg);
  }

  aside {
    bottom: 40px;
    right: 15px;
    transform: translate(0, 0);
  }
  @keyframes aside {
    0% {
      right: -5rem;
    }
    100% {
      right: 15px;
    }
  }
  aside input[id="icon-btn"] + ul {
    display: none;
    border-radius: 50px 50px 0 0;
    /* background: rgba(245, 245, 245, 0.35); */
    background: rgba(0, 0, 0, 0.35);
    background: rgba(227, 187, 66, 0.9);
    padding: 0;
    padding-top: 10px;
    overflow: auto;
  }
  aside ul a {
    width: 32px;
    padding: 10px;
  }
  aside ul a svg {
    width: 32px;
    height: 32px;
  }

  aside input[id="icon-btn"] + ul + label {
    display: block;
    position: relative;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    /* background: rgba(245, 245, 245, 0.35); */
    background: rgba(0, 0, 0, 0.35);
    background: rgba(227, 187, 66, 0.9);
  }
  aside input[id="icon-btn"] + ul + label span {
    display: block;
    position: absolute;
    width: 40%;
    height: 2px;
    /* border-radius: 30px; */
    background: var(--white);
    transition: all 0.35s;
  }
  aside input[id="icon-btn"] + ul + label span:nth-child(1) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  aside input[id="icon-btn"] + ul + label span:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  aside input[id="icon-btn"]:checked + ul + label span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(405deg);
  }
  aside input[id="icon-btn"]:checked + ul + label span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-405deg);
  }

  aside input[id="icon-btn"]:checked + ul + label {
    border-radius: 0 0 50px 50px;
  }
  aside input[id="icon-btn"]:checked + ul {
    display: block;
  }
}
