.grid {
  display: grid;
  max-width:2540px;
  margin-left: auto;
  margin-right: auto;
  column-gap: 10px;
  /* grid-gap: 10px; */
  justify-items: stretch;
  align-content: stretch;
  grid-template-columns: repeat(12, 1fr);
  /* grid-auto-rows: minmax(5rem, auto); */
  padding:0 40px;
}

.grid-8 {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  column-gap: 10px;
  /* grid-gap: 10px; */
  justify-items: stretch;
  align-content: stretch;
  grid-template-columns: repeat(8, 1fr);
  padding:0;
}

ul.grid{padding:0;}

.grid .col-1 {
  grid-column-end: span 1;
}
.grid .col-2 {
  grid-column-end: span 2;
}
.grid .col-3 {
  grid-column-end: span 3;
}
.grid .col-4 {
  grid-column-end: span 4;
}
.grid .col-5 {
  grid-column-end: span 5;
}
.grid .col-6 {
  grid-column-end: span 6;
}
.grid .col-7 {
  grid-column-end: span 7;
}
.grid .col-8 {
  grid-column-end: span 8;
}
.grid .col-9 {
  grid-column-end: span 9;
}
.grid .col-10 {
  grid-column-end: span 10;
}
.grid .col-11 {
  grid-column-end: span 11;
}
.grid .col-full, .grid .col-12 {
  grid-column: 1 / -1;
}
.grid .row-1 {
  grid-row-end: span 1;
}
.grid .row-2 {
  grid-row-end: span 2;
}
.grid .row-3 {
  grid-row-end: span 3;
}
.grid .row-4 {
  grid-row-end: span 4;
}
.grid .row-5 {
  grid-row-end: span 5;
}
.grid .row-6 {
  grid-row-end: span 6;
}
.grid .row-7 {
  grid-row-end: span 7;
}
.grid .row-8 {
  grid-row-end: span 8;
}
.grid .row-9 {
  grid-row-end: span 9;
}
.grid .row-10 {
  grid-row-end: span 10;
}
.grid .row-11 {
  grid-row-end: span 11;
}



/* 모바일 */
@media screen and (max-width: 900px) {
  .grid {
    column-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    padding:0 20px;
  }
  .grid .m-col-1 {
    grid-column-end: span 1;
  }
  .grid .m-col-2 {
    grid-column-end: span 2;
  }
  .grid .m-col-3 {
    grid-column-end: span 3;
  }
  .grid .m-col-4 {
    grid-column-end: span 4;
  }
  .grid .m-col-5 {
    grid-column-end: span 5;
  }
  .grid .m-col-6 {
    grid-column: 1 / -1
  }


}
