#album-list h2 {
  text-align: center;
}
#album-list .list {
  padding-top: 2rem;
  font-size: var(--font-size-content);
}
#album-list .list ul {
  grid-column: 3 / 11;
  row-gap: 24px;
}
#album-list .list li {
  grid-column-end: span 4;
  text-align: left;
  transition: all 0.4s;
  box-sizing: border-box;
  padding: 4px;
}
#album-list .list li:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

#album-list .list li a {
  color: var(--black);
}
#album-list .imgArea {
  display: block;
  font-size: 0;
  margin-bottom: 12px;
}
#album-list img {
  height: auto;
}
.imgCount {
  display: block;
  /* font-family: kepler-std-display, serif; */
  font-size: var(--font-size-small);
  font-weight: 500;
}
.kName {
  display: inline-block;
  font-weight: 600;
}
.eName {
  display: block;
  margin-bottom: 4px;
  /* font-family: kepler-std-display, serif; */
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.2;
}
.cName {
  display: inline-block;
  font-size: var(--font-size-small);
  margin-left: 5px;
  font-weight: 400;
}

/* 모바일 */
@media screen and (max-width: 900px) {
  #album-list .list ul {
    grid-column: 1 / 7;
    padding-top: 1.6rem;
  }
  #album-list .list li {
    grid-column-end: span 3;
    padding: 0;
  }

  .kName {
    display: inline-block;
  }
  .eName {
    margin-bottom: 4px;
    font-size: 2rem;
  }
  .cName {
    display: inline-block;
    font-size: var(--font-size-small);
    margin-left: 5px;
    font-weight: 400;
  }
}
