#album-list + header a#logo img {
  top: -58px;
}
#album-list + header.fixed a#logo img {
  top: -37px;
}

#album-list h2 {
  text-align: center;
}
#album-list .list {
  padding-top: 4rem;
  font-size: var(--font-size-content);
}
#album-list .list ul {
  grid-column: 3 / 11;
  row-gap: 20px;
}
#album-list .list li {
  grid-column-end: span 4;
  text-align: left;
  transition: all 0.4s;
  box-sizing: border-box;
  padding: 4px;
}
#album-list .list li:hover {
  transform: scale(1.03);
  opacity: 0.85;
}

#album-list .list li a {
  color: var(--black);
}
#album-list .imgArea {
  display: block;
  font-size: 0;
  margin-bottom: 8px;
}
#album-list img {
  height: auto;
}
.imgCount {
  display: block;
  font-family: kepler-std-display, serif;
  font-size: var(--font-size-small);
}
.eName {
  display: block;
  margin-bottom: 8px;
  font-family: kepler-std-display, serif;
  font-weight: 500;
  font-size: 3rem;
  line-height: 1;
}
.kName {
  display: inline-block;
}
.cName {
  display: inline-block;
  font-size: var(--font-size-small);
  margin-left: 5px;
}
.linkBtn {
  display: none;
  margin-top: 2.8rem;
  width: 30px;
  height: 30px;
}

/* 모바일 */
@media screen and (max-width: 900px) {
  #album-list + header a#logo img {
    top: -35px;
  }
  #album-list + header.fixed a#logo img {
    top: -30px;
  }

  #album-list .list ul {
    grid-column: 1 / 7;
    padding-top: 1.6rem;
  }
  #album-list .list li {
    grid-column-end: span 3;
  }
}
